{
    "id":"sample_app_opp",
    "description":"GridAPPS-D Sample Application app opp",
    "creator":"PNNL",
    "inputs":[],
    "outputs":[],
    "options": ["(simulationId)","'(request)'"],
    "type":"PYTHON",
    "execution_path": "python /usr/src/gridappsd-sample/sample_app/runsample.py",
    "launch_on_startup":false,
    "prereqs":[],
    "multiple_instances":true
}
